<%= form_with(model: [@entry_point, @booking]) do |form| %>

  <% if flash[:success] %>
    <div class="alert alert-success">
      <%= flash[:success] %>
    </div>
  <% end %>

  <% if flash[:error] %>
    <div class="alert alert-danger">
      <%= flash[:error] %>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :vehicle_reg_num %>
    <%= form.text_field :vehicle_reg_num %>
  </div>

  <div class="field">
    <%= form.label :checkout_time %>
    <%= form.time_field :checkout_time%>
  </div>





  <div class="actions">
    <%= form.submit "Create Slot Booking" %>
  </div>
<% end %>
